@charset "UTF-8";

@media screen and (min-width: 768px){
    .material-symbols-outlined{
        display: none;
    }
    menu{
        display: block;
    }menu > ul > li {
        display: inline-block;
    }
    a{
        border-radius: 10px;
    }
    main{
        width: 768px;
    }

}